MYSQL_ENGINE=django.db.backends.mysql
# Local database name
MYSQL_DATABASE=course_roster_tool
# Local database user
MYSQL_USER=user
# Local database password
MYSQL_PASSWORD=password
# Local database host
MYSQL_HOST=course_roster_tool_mysql
# Local database port
MYSQL_PORT=3306
# Local database root password (optional)
MYSQL_ROOT_PASSWORD=root_pw
TZ=America/Detroit
DJANGO_SECRET_KEY=something